#controls {
    width: 20vw;
    padding: 4vh 3vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    text-align: center; */
    background-size: cover !important;
    background-repeat: no-repeat;
    position: fixed;
    color: var(--text-color) !important;
}
#visualizer {
    width: 68vw;
    padding: 4vh 3vw;
    height: 80vh;
    display: inline-block;
    padding-left: 29vw;
}
#nav {
    padding: 0vh 3vw;
    padding-top: 3vh;
    height: 5vh;
    display: flex;
    align-content: flex-end;
}
.head {
    font-size: xx-large;
    font-weight: 600;
}
.sidebar__inner::after {
    background: #e6e6e6;
    background: linear-gradient(
180deg,#e6e6e6 0,#e6e6e6 48%,#fff);
    position: absolute;
    content: "";
    width: 0.1rem;
    height: 80vh;
    top: 30px;
    right: -10px;
    bottom: 0;
    margin: 10px;
}
.hr_inner {
    border-top: 1px solid #e6e6e6;
}
#control_btn {
    width: 100%;
    padding: 2vh 5%;
    margin: 1vh 0px;
    display: inline-block;
    border-radius: 10px;
    color: var(--text-color);
    border: 1px solid rgb(0, 0, 0, 0.08);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),
    0 1px 2px rgba(0,0,0,0.24);
    transition: 0.5s ease-in-out;
    transform: scale(1);
}
#size_input {
    width: 18vw;
    padding: 2vh 5%;
    margin: 1vh 0px;
    display: inline-block;
    border-radius: 10px;
    color: var(--text-color);
    border: 1px solid rgb(0, 0, 0, 0.08);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),
    0 1px 2px rgba(0,0,0,0.24);
    transition: 0.5s ease-in-out;
    transform: scale(1);
}
#control_btn:hover {
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0, 0);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    transform: scale(1.03);
}
.visualizer {
    height: 50vh;
    background-color: #ADEFD1FF;
    padding: 5vh 3vw;
    display: flex;
    flex-wrap: nowrap;
    margin-top: auto;
    border-radius: 10px;
}
.array_bar {
    width: 10px;
    background-color: #ff7f50;
    margin-left: 4px;
    display: inline-block;
    border-radius: 10px;
    align-self: flex-end;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}
.slider_wrapper {
    display: flex;
    align-items: center;
}


@media (max-width: 800px) {
    #controls {
        width: 90vw;
        padding-top: 5vh;
        padding-bottom: 2vh;
        padding-left: 5vw;
        padding-right: 5vw;
        height: 60vh;
        text-align: left;
        position: relative;
    }
    #visualizer {
        width: 90vw;
        padding: 4vh 5vw;
        height: auto;
        display: inline-block;
        padding-left: 5vw;
    }
    #nav {
        padding: 0vh 3vw;
        padding-top: 3vh;
        height: 5vh;
        display: flex;
        align-content: flex-end;
    }
    #sort_btn {
        font-family: 'Questrial', sans-serif;
        padding: 2vh 5%;
        margin: 1vh 0px;
        margin-left: 60%;
        display: inline-block;
        border-radius: 10px;
        color: var(--text-color);
        border: 1px solid rgb(0, 0, 0, 0.08);
        box-shadow: 0 1px 3px rgba(0,0,0,0.12),
        0 1px 2px rgba(0,0,0,0.24);
        transition: 0.5s ease-in-out;
        transform: scale(1);
    }
    .head {
        font-size: xx-large;
        font-weight: 600;
    }
    .sidebar__inner::after {
        background: #e6e6e6;
        background: linear-gradient(
    180deg,#e6e6e6 0,#e6e6e6 48%,#fff);
        position: absolute;
        content: "";
        width: 0.1rem;
        height: 80vh;
        top: 30px;
        right: -10px;
        bottom: 0;
        margin: 10px;
    }
    .hr_inner {
        border-top: 1px solid #e6e6e6;
    }
    #control_btn {
        width: 100%;
        padding: 2vh 5%;
        margin: 1vh 0px;
        display: inline-block;
        border-radius: 10px;
        color: var(--text-color);
        border: 1px solid rgb(0, 0, 0, 0.08);
        box-shadow: 0 1px 3px rgba(0,0,0,0.12),
        0 1px 2px rgba(0,0,0,0.24);
        transition: 0.5s ease-in-out;
        transform: scale(1);
    }
}
